<!DOCTYPE html>
<html lang="en">

<body>
    <div class="bg-tPurple h-20 lg:h-24 flex items-center justify-center">
        <div class="max-w-7xl mx-auto flex items-center justify-between pr-5 xl:pr-0 w-full text-sm sm:text-base">

            <a href="/public/">
                <img src="images/branded/logo.webp" alt="Plebz Logo" class="w-28 sm:w-40 h-auto">
            </a>

            <nav
                class="navMenu hidden lg:flex flex-col lg:flex-row lg:gap-20 absolute lg:relative right-4 top-24 lg:right-0 lg:top-0 text-white lg:text-tLink bg-slate-900 lg:bg-inherit backdrop-blur lg:backdrop-blur-0 bg-opacity-40 p-5 lg:p-0 rounded-lg shadow-lg lg:shadow-none w-48 lg:w-auto">
                <a href="/public/"
                    class="hover:font-medium lg:hover:font-normal lg:hover:text-white border-b border-tLink lg:border-0 pb-2 lg:p-0">Home</a>
                <a href="/public/who-we-are.html"
                    class="hover:font-medium lg:hover:font-normal lg:hover:text-white border-b border-tLink lg:border-0 py-2 lg:p-0">Quem
                    Somos</a>
                <a href="/public/services.html"
                    class="hover:font-medium lg:hover:font-normal lg:hover:text-white border-b border-tLink lg:border-0 py-2 lg:p-0">Services</a>
                <a href="/public/blogs.html"
                    class="hover:font-medium lg:hover:font-normal lg:hover:text-white border-b border-tLink lg:border-0 py-2 lg:p-0">Blog</a>
                <a href="/public/contact.html"
                    class="hover:font-medium lg:hover:font-normal lg:hover:text-white border-b border-tLink lg:border-0 pt-2 lg:p-0">Contato</a>
            </nav>

            <div class="flex items-center gap-4">
                <i onclick="document.querySelector('.navMenu').classList.contains('hidden') ? document.querySelector('.navMenu').classList.replace('hidden', 'flex') : document.querySelector('.navMenu').classList.replace('flex', 'hidden')"
                    class=" bi-list text-tLink hover:text-white text-3xl lg:hidden cursor-pointer"></i>
                <button
                    class="bg-tYellow rounded-full px-4 py-2 font-medium transition-all hover:scale-105 text-xs sm:text-sm">
                    <a href="#">Abrir minha conta</a>
                </button>
            </div>

        </div>
    </div>

</body>

</html>