@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */

body {
    font-family: 'Manrope', sans-serif;
    background-color: #FEFEF4;
}

br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 15px !important;
}

p {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}

select:focus,
textarea,
textarea:focus,
input:focus {
    @apply outline-none;
}

::selection {
    color: rgb(44, 25, 68);
    background: rgb(221, 194, 255);
  }

@media screen and (min-width: 768px) {
    br {
        content: "A" !important;
        display: block !important;
        margin-bottom: 25px !important;
    }
}



/* Single Post Page */

.blogPost br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 25px !important;
}

.blogPost {
    font-weight: 500;
}

.blogPost ul,
.blogPost ol {
    margin: 25px 0px 25px 32px;
}

.blogPost ul {
    list-style-type: disc;
}

.blogPost ol {
    list-style-type: armenian;
}

.blogPost h2,
.blogPost h3,
.blogPost h4,
.blogPost h5,
.blogPost h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.blogPost img {
    margin: 40px 0px 40px 0px;
}

.blogPost p {
    margin: 25px 0px 25px 0px;
}


/* Home */

@media screen and (min-width: 768px) {
    .homeBox2 {
        border-radius: 16px 100px 16px 16px;
    }

    .homeBox3 {
        border-radius: 16px 16px 16px 100px;
    }

    br {
        content: "A" !important;
        display: block !important;
        margin-bottom: 25px !important;
    }
}



/* Who We Are */

@media screen and (min-width: 640px) {
    .guy1 {
        border-radius: 125px 8px 8px 8px;
    }

    .guy2 {
        border-radius: 8px 8px 125px 8px;
    }
}